NetFrameworkClient/Connected Services/ServiceReference1/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IISHostedService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IISHostedService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:int" />
      <xs:element minOccurs="0" name="B" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>